.footer {
  background-color: #000; 
  color: #fff; 
  padding: 40px 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  font-family: Arial, sans-serif;
}

.footer1 h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer1 p {
  font-size: 14px;
  margin: 5px 0;
  line-height: 1.5;
}

.footer1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer1 ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.footer1 ul li a:hover {
  text-decoration: underline;
  color: #db4444;
}

/* Subscribe input */
.footer1 input {
  padding: 8px;
  border: 1px solid #444;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

.footer2 {
  grid-column: 1 / -1;
  text-align: center;
  border-top: 1px solid #444;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 13px;
  color: #aaa;
}
@media (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 30px 20px;
  }

  .footer1 h4 {
    font-size: 16px;
  }

  .footer1 p, 
  .footer a {
    font-size: 13px;
  }
  .footer1 img {
    width: 100px;
  }
}


@media (max-width: 480px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 25px 15px;
  }

  .footer1 {
    text-align: center;
  }

  .footer1 input[type="email"] {
    width: 100%;
  }

  .footer2 {
    font-size: 12px;
  }
  .footer1 img {
    width: 80px;
    margin: 0 auto;
    display: block;
  }

}
