.ourstory-container {
  display: flex;
  align-items: center;
  padding: 80px 0px 80px 130px;
  gap: 120px;
}

.ourstory-text,
.ourstory-image {
  flex: 1;
}

.ourstory-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}

.ourstory-text h3 {
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.ourstory-text p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
  color: #000;
}

@media (max-width: 1024px) {
  .ourstory-container {
    padding: 60px 60px;
    gap: 60px;
  }
  .ourstory-text h3 {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .ourstory-container {
    flex-direction: column;

    padding: 40px 20px;

    gap: 40px;
  }

  .ourstory-text h3 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
