.signUp {
  display: flex;
  height: 650px;
  width: 100%;
  margin-top: 50px;
  gap: 60px;
}

.signUp1 {
  width: 60%;
}
.signUp1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.signUp2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center
}
.signUp5 h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 25px;
}
.signUp5 p {
  font-size: 20px;
  margin-bottom: 50px;
}
.signUp3 form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.signUp3 form input {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 40px;
  font-size: 16px;
  width: 100%;
}
.signUp2 form input:focus {
  outline: none;
}
.buttonSignUp {
  background: #db4444;
  color: #fff;
  border: none;
  height: 50px;
  padding: 10px 20px;

  cursor: pointer;
}


@media (max-width: 600px) {
  .signUp {
    margin-top: 30px;
    gap: 30px;
  }

  .signUp1 {
    display: none; 
  }

  .signUp2 {
    width: 95%;
    text-align: center;
  }

  .signUp5 h1 {
    font-size: 26px;
  }

  .signUp5 p {
    font-size: 16px;
  }

  .signUp3 form input {
    font-size: 14px;
    margin-bottom: 25px;
  }

  .buttonSignUp {
    width: 100%;
    height: 45px;
    font-size: 15px;
  }
}